/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer; }

.container, header {
  display: flex;
  flex-direction: column;
  align-items: center; }

* {
  transition: all 0.2s ease; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 0 10px;
  overflow-y: scroll; }

.chart-container {
  width: 100%;
  max-width: 750px;
  margin: 35px auto; }

.chart {
  width: 100%;
  padding: 10px 0; }

.chartSvg {
  width: 100%;
  display: inline-block; }

header {
  padding-top: 25px;
  text-align: center; }
  header h1 {
    font-size: 40px;
    font-weight: 100; }
  header p {
    font-weight: 300;
    max-width: 500px;
    padding: 10px 0;
    line-height: 1.1em; }

form {
  padding: 20px 0;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box; }
  form label {
    font-size: 18px;
    display: inline-block;
    width: 20%;
    font-weight: 300;
    box-sizing: border-box;
    display: inline-block; }
  form select {
    margin-bottom: 8px;
    width: 79%;
    box-sizing: border-box;
    display: inline-block; }
  form button {
    background-color: white;
    outline: 0;
    border: solid 1px #DADAD9;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin-top: 10px;
    padding: 5px; }
  form button:enabled {
    border: solid 1px #F06449;
    color: #F06449; }
  form button:enabled:hover {
    background-color: #F06449;
    color: white; }
  form button:disabled:hover {
    cursor: not-allowed; }

h2 {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding: 7px 0; }

.up {
  position: fixed;
  bottom: 6px;
  right: 6px;
  border-radius: 50%;
  background-color: #5BC3EB;
  border: none;
  color: white;
  height: 50px;
  width: 50px;
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.up:hover,
.up:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 5px 6px rgba(0, 0, 0, 0.22); }

.noData {
  color: #F06449;
  display: block;
  padding: 60px 0; }

.dot {
  fill: #F06449;
  stroke: #F06449;
  stroke-width: 1.5px; }

.line {
  fill: none;
  stroke: #F06449;
  stroke-linejoin: "round";
  stroke-linecap: "round";
  stroke-width: 1.5; }

.btn-bar {
  width: 100%;
  margin-bottom: 5px; }
  .btn-bar button {
    border: solid 1px #DADAD9;
    background-color: white;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    margin-right: 5px; }
  .btn-bar button:hover {
    border-color: black; }

.json {
  height: 400px;
  width: 100%;
  background-color: #DADAD9;
  overflow-y: scroll;
  font-size: 16px;
  z-index: 100;
  display: inline-block; }
  .json code {
    white-space: pre; }

.showJson.on {
  background-color: #DADAD9; }

.tip {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  opacity: .8; }


/*# sourceMappingURL=main.css.map*/